<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="description" content="Goalspriing">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Goalspriing</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<div id="nav-container"></div>
<section class="hero-container" id="hero">
	<div class="hero-content section-content text-white text-center">
		<div class="text-lg hero-text">We help people and companies reach their full potential</div>
		<div class="button-container">
			<!-- <button class="play-button"></button> -->
			<div class="play-button-container" id="hero-button-container"></div>
			<div class="text-sm text-condensed">SEE THE RESULTS</div>
		</div>
		<div class="client-logos">
			<div class="client-row">
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/culture-amp.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/sailthru.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/kickstarter.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/flatiron.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/stellaservice.png" />
				</div>
			</div>
			<div class="client-row">
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/omaze.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/1stdibs.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/eero.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/shapeways.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/ideo.png" />
				</div>
				<div class="client-logo-container">
					<img class="client-logo" src="images/client-logos/harrys.png" />
				</div>
			</div>
		</div>
		<div id="client-slider-container-home"></div>
	</div>
</section>
<section class="page page-white-background" id="about">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">ABOUT GOALSPRIING</div>
		<div class="text-lg text-center page-heading">Achievement made accessible.</div>
		<div class="row">
			<div class="half-page-image-lg">
				<img src="images/about-girl-laptop.png" />
			</div>
			<div class="half-page-text-lg">
				<p>Employers receive tailored coaching programs based on their culture
				and strategic objectives which seamlessly integrate into their HR platform.
				Employees are matched exclusively with university* certified coaches and meet
				anytime, anywhere by phone, video conference and unlimited messaging. </p>
				<p>*All of our coaches have completed the most rigorous coaching education
				from leading universities, primarily Columbia University and <br class="break-min-880" />New York
				University.</p>
			</div>
		</div>
	</div>
</section>
<section class="page" id="coaches">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">OUR COACHES</div>
		<div class="text-lg text-center page-heading text-white">Meet some of<br class="break-768-to-860" /> our coaches.</div>
		<div id="coach-slider-container"></div>
	</div>
</section>
<section class="page page-white-background" id="how-it-works">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">HOW GOALSPRIING WORKS</div>
		<div class="text-lg text-center page-heading">Customized and flexible<br class="break-800-to-990" /> for you.</div>
		<div class="row">
			<div class="half-page-image-lg">
				<img src="images/how-it-works-man-computer.png" />
			</div>
			<div class="half-page-text-lg">
				<p>Goals can be customized and are weighted and powered by a sophisticated
				algorithm when recommending employee-to-coach matches. Sessions are scheduled
				online and completed anytime, anywhere by phone or video conference.</p>
			</div>
		</div>
	</div>
	<div class="images-bottom-container">
		<img src="images/how-it-works-woman-computer.png" class="image-bottom-large image-bottom"/>
		<img src="images/how-it-works-phone.png" class="image-bottom-small image-bottom"/>
	</div>
</section>
<section id="testimonials">
	<div id="testimonial-slider-container"></div>
</section>
<section class="page page-white-background" id="pricing">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">PRICING</div>
		<div class="text-lg text-center page-heading">Affordable coaching<br class="break-768-to-1025" /> for everyone.</div>
		<div class="row">
			<div class="half-page-image-lg">
				<img src="images/pricing-man-woman.png" />
			</div>
			<div class="half-page-text-lg">
				<p>Coaching has proven to enhance engagement, but it is a cost prohibitive
				benefit that is offered primarily to senior executives. Not anymore.</p>
			</div>
			<div class="text-green text-bold text-xl price">$95 / session</div>
		</div>
	</div>
	<div class="images-bottom-container">
		<img src="images/pricing-man.png" class="image-bottom-large image-bottom" />
		<img src="images/pricing-man-close.png" class="image-bottom-small image-bottom"/>
	</div>
</section>
<section class="page text-white text-center" id="clients">
	<div class="section-content">
		<div class="text-sm text-white text-center text-condensed clients-page-title">CLIENTS</div>
		<div class="text-lg text-center page-heading clients-heading text-white">Partnering with people-first companies.</div>
		<div class="clients-mobile-background-container">
			<div class="text-sm text-white text-center clients-copy">
				We partner with people-first companies to increase engagement
				and deepen connections with self, others and the world.
			</div>
			<div class="quote-box line-height-copy text-center">
				<div class="quote-box-quote text-md">
					“We worked closely with the Goalspriing team to craft a
					coaching program tailored specifically to our people, culture
					and goals. Goalspriing has been a wonderful addition to our
					Learning & Development Program at Kickstarter!”
				</div>
				<div class="quote-box-source text-sm">Katie, Knowledge Manager at Kickstarter</div>
			</div>
			<div class="client-logos">
				<div class="client-row">
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/culture-amp.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/sailthru.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/kickstarter.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/flatiron.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/stellaservice.png" />
					</div>
				</div>
				<div class="client-row">
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/omaze.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/shapeways.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/eero.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/1stdibs.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/ideo.png" />
					</div>
					<div class="client-logo-container">
						<img class="client-logo" src="images/client-logos/harrys.png" />
					</div>
				</div>
			</div>
			<div id="client-slider-container"></div>
		</div>
	</div>
</section>
<section class="page-non-flex" id="team">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">TEAM</div>
		<div class="text-lg text-center page-heading">Meet our team.</div>
		<div id="team-slider-container"></div>
	</div>
</section>
<section class="page-non-flex page-gray-background" id="contact">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">CONTACT</div>
		<div class="text-lg text-center page-heading text-white">Get in touch.</div>
		<div class="text-md text-center text-green contact-subheading">Let's have a chat to discuss how we can help.</div>
		<div class="row contact-row text-white text-sm">
			<div class="half-row contact-half-row-left">
				<span class="contact-info-text">hello@goalspriing.com</span> 
			</div>
			<div class="half-row contact-half-row-right">
				<span class="contact-info-text">+1 (339) 526-2240</span>
			</div>
		</div>
		<div id="contact-form-container"></div>
	</div>
</section>
<footer class="text-xs">
	<div class="footer-content">
		<div class="footer-left text-white">© 2017 Goalspriing. All Rights Reserved.</div>
		<div class="footer-right text-condensed">
			<div class="footer-link-container">
				<a href="#about" class="footer-link text-white">about</a>
			</div>
			<div class="footer-link-container">
				<a href="#coaches" class="footer-link text-white">our coaches</a>
			</div>
			<div class="footer-link-container">
				<a href="#how-it-works" class="footer-link text-white">how it works</a>
			</div>
			<div class="footer-link-container">
				<a href="#testimonials" class="footer-link text-white">testimonials</a>
			</div>
			<div class="footer-link-container">
				<a href="#pricing" class="footer-link text-white">pricing</a>
			</div>
			<div class="footer-link-container">
				<a href="#clients" class="footer-link text-white">clients</a>
			</div>
			<div class="footer-link-container">
				<a href="#team" class="footer-link text-white">team</a>
			</div>
			<div class="footer-link-container footer-link-container-last">
				<a href="#contact" class="footer-link text-white">contact</a>
			</div>
		</div>
	</div>
</footer>
</body>
</html>