<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="description" content="Goalspriing">
	<title>Goalspriing</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section class="hero-container" id="hero">
	<div class="hero-content section-content text-white text-center">
		<div class="text-lg hero-text">We help people and companies reach their full potential</div>
		<div class="button-container">
			<button class="play-button"></button>
			<div class="text-sm">SEE THE EFFECT</div>
		</div>
	</div>
</section>
<section class="page" id="about">
	<div class="section-content">
		<div class="text-sm text-green text-center text-condensed">ABOUT GOALSPRIING</div>
		<div class="text-lg text-center page-heading">Achievement made accessible</div>
	</div>
	<div class="row">
		<div class="half-page-image-lg">
			<img src="images/about-girl-laptop.png" />
		</div>
		<div class="half-page-text-lg">
			<p>Employers receive tailored coaching programs based on their culture
			and strategic objectives which seamlessly integrate into their HR platform.
			Employees are matched exclusively with university* certified coaches and meet
			anytime, anywhere by phone, video conference and unlimited messaging. </p>
			<p>All of our coaches have completed the most rigorous coaching education
			from leading universities, primarily Columbia University and New York
			University.</p>
		</div>
	</div>
</section>
</body>
</html>