@import "colors";

.contact-form-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.contact-form-row {
	margin-bottom: 20px;
}

.contact-form-input,
.contact-form-textarea,
.contact-form-button {
	box-sizing: border-box;
	width: 100%;
	padding: 20px 15px;
}

.contact-form-button {
	background-color: black;
	border: none;
	cursor: pointer;
}

.contact-form-button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.contact-form-input::placeholder,
.contact-form-textarea::placeholder {
	color: $gray;
	opacity: 0.5;
}

.input-error {
	border: 3px solid $error-red;
}

.contact-form-submit-row {
	position: relative;
	margin-bottom: 0;
}

.error-message {
	background-color: $error-red;
	padding: 10px;
	display: inline-block;
	position: relative;
	bottom: 15px;
}

.contact-thanks-message {
	margin-top: 280px;
	margin-bottom: 180px;
	font-size: 34px;
	text-align: center;
	line-height: 44px;
}
