@import "fonts";

section {
	background-size: cover;
	background-position: center center;
	height: 900px;
}

.hero-container, .page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page {
	justify-content: center;
}

.row {
	display: flex;
	justify-content: center;
}

.page-heading {
	margin-bottom: 40px;
}

.half-page-img-lg,
.half-page-text-lg {
	width: 50%;
	max-width: 620px;
}

.half-page-text-lg {
	padding: 0 100px;
	line-height: 44px;
	margin-top: -27px;
	box-sizing: border-box;
}

#hero {
	background-image: url("../images/hero-background.png");
}

.hero-text {
	max-width: 650px;
	margin: 0 auto;
	margin-bottom: 140px;
	padding-top: 40px;
}

.play-button {
	width: 133px;
	height: 133px;
	border-radius: 66.5px;
	border: 3px solid white;
	background-color: transparent;
	margin-bottom: 20px;
}

.play-button:before {
	content: '';
	display: block;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid white;
	position: relative;
	left: 43.5px;
}

.text-xs {
	font-size: 14px;
}

.text-sm {
	font-size: 22px;
}


.text-md {
	font-size: 34px;
}

.text-lg {
	font-size: 64px;
}

.text-xl {
	font-size: 122px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

$green: #aac537;

.text-white {
	color: white;
}

.text-green {
	color: $green;
}