$pink: #CCC;

.app {
	//background: url("../images/hero-background.png");
	background: $pink;

	display: flex;
	transform: rotate(30deg);
}

a {
	display: flex;
	appearance: none;
	background-color: #DDD;
}

.app:hover {
	color: blue;
}