@import "breakpoints";

@media screen and (max-width: $mobileMaxWidth) {
	.slick-dots li .coach-slider-dot-desktop,
	.slick-dots li .testimonial-slider-dot-desktop {
		display: none;
	}
}

@media screen and (min-width: $desktopMinWidth) {
	.coach-slider-dot-mobile,
	.testimonial-slider-dot-mobile {
		display: none;
	}
}

.coach-slider-dot-desktop,
.testimonial-slider-dot-desktop {
	filter: grayscale(100%);
}

li.slick-active .coach-slider-dot-desktop,
li.slick-active .testimonial-slider-dot-desktop {
	filter: none;
}

.testimonial-slider-dot-desktop img {
	border-radius: 500px;
	border: 3px solid white;
	background: white;
}

li.slick-active .testimonial-slider-dot-desktop img {
	border: 3px solid $green;
	background: $green;
}

.coach-slider-dot-desktop,
.testimonial-slider-dot-desktop {
	cursor: pointer;
}

.coach-slider-dot-desktop img,
.testimonial-slider-dot-desktop img {
	width: 120px;
}

.coach-slider-dots,
.testimonial-slider-dots {
	text-align: center;
	padding-left: 0;
}

.coach-slider-dots li,
.testimonial-slider-dots li {
	display: inline-block;
	width: 167px;
	margin-top: 130px;
}

.coach-slider-dots li {
	max-width: 20%;
}

.coach-description,
.testimonial-blurb {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.coach-description,
.coach-title,
.testimonial-blurb {
	line-height: 44px;
}

.coach-name {
	line-height: 66px;
	margin-bottom: 6px;
	margin-top: 30px;
}

.coach-title {
	margin-bottom: 18px;
}

#coach-slider-container .slick-slide {
	cursor: pointer;
}

.testimonial-item-diane {
	background-image: url("../images/testimonials/backgrounds/diane.png");
}

.testimonial-item-emma {
	background-image: url("../images/testimonials/backgrounds/emma.png");
}

.testimonial-item-dave {
	background-image: url("../images/testimonials/backgrounds/dave.png");
}

.testimonial-blurb {
	margin-bottom: 55px;
}

.testimonial-item {
	padding-top: 160px;
	padding-bottom: 280px;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
}

#testimonials {
	height: initial;
}

#testimonials .page-heading {
	margin-bottom: 42px;
}

.testimonial-slider-dots {
	position: absolute;
	bottom:50px;
	left: 50%;
	margin-left: -250.5px;
}

.client-slider {
	display: none;
}

@media screen and (max-width: $mobileMaxWidth) {
	.coach-description {
		line-height: 22px;
		max-width: 310px;
	}

	#coach-slider-container .slick-dots {
		top: 334px;
	}

	.coach-name {
		margin-top: 38px;
		margin-bottom: 3px;
	}

	.slick-dots li {
		margin: 0 0;
	}

	.slick-dots li button:before {
		font-size: 11px;
		color: white;
		opacity: 0.4;
	}

	.slick-dots li.slick-active button:before {
		color: white;
		opacity: 1;
	}

	.testimonial-item {
		padding-top: 72px;
		padding-bottom: 0;
		min-height: 550px;
		box-sizing: border-box;
	}

	.testimonial-blurb {
		line-height: 22px;
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		min-height: 66px;
	}

	#testimonials .page-heading {
		margin-bottom: 65px;
		max-height: 33px;
	}

	.testimonial-slider .slick-dots {
		bottom: 16px;
	}

	#team-slider-container .slick-dots li button:before {
		font-size: 11px;
		color: black;
		opacity: 0.4;
	}

	#team-slider-container .slick-dots li.slick-active button:before {
		color: black;
		opacity: 1;
	}

	.client-slider {
		display: block;
		margin-top: 35px;
	}

	.client-slide-logo-container {
		display: inline-block;
	}

	.client-slide-logo {
		height: 17px;
	}
}